@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
:root {
   --darkblue: rgb(16, 29, 35);
   --green: rgb(57, 184, 103);
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   background-image: url("../image/bg-desktopijo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
body,
input,
button {
   font-family: "Montserrat", sans-serif;
}

input,
button {
   font-size: 16px;
}

.head_bar {
   padding: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   z-index: 99;
   background-color: rgb(34, 197, 143);
}

.head_bar h1 {
   margin-right: 10px;
}

main {
   max-width: 800px;
   width: 80%;
   margin: 0 auto;
   padding: 16px;
   position: relative;
}

input {
   margin-top: 5px;
   border: none;
   outline: 1px solid gray;
   transition: ease-in 0.1s;
}
input:focus {
   outline: 2px solid var(--green);
}
.input_section {
   display: flex;
   flex-direction: column;
   padding: 16px;

   background: rgba(255, 255, 255, 0.7);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.input_section > h2 {
   text-align: center;
   color: var(--darkblue);
}

.input_section > form > .input {
   margin: 8px 0;
}

.input_section > form > button {
   color: white;
   border: 0;
   border-radius: 5px;
   display: block;
   width: 100%;
   padding: 8px;
   cursor: pointer;
   font-weight: 600;
}

.input_section > form > .input > input {
   display: block;
   width: 100%;
   padding: 8px;
   border-radius: 5px;
   font-weight: 600;
}

.input_section > form > .input > label {
   color: var(--darkblue);
   font-weight: 700;
}

.input_section > form > .input_inline {
   margin: 12px 0;
   display: flex;
   align-items: center;
}

.input_section > form > .input_inline > label {
   color: var(--darkblue);
   font-weight: bold;
   margin-right: 10px;
}
.input_section > form > .input_inline > #inputBookIsComplete {
   outline-style: none;
}

.input_edit_section {
   position: fixed;
   justify-content: center;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border: none;
   border-radius: 0;
   display: none;
   background-color: rgba(255, 255, 255, 0.425);
   backdrop-filter: blur(5px);
}

.input_edit_section > form {
   background-color: #fff;
   padding: 20px;
   max-width: 500px;
   margin: auto;
   border-radius: 10px;
   box-shadow: 0 4px 15px rgb(192, 192, 192);
}

.search_section {
   margin: 16px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 16px;

   background: rgba(255, 255, 255, 0.7);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.search_section > h2 {
   color: var(--darkblue);
}

.search_section > form {
   padding: 16px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search_section > form > label {
   display: flex;
   align-items: center;
   font-weight: 500;
}

.search_section > form > input {
   padding: 5px;
   width: 100%;
   border-radius: 5px;
   margin: 0 10px;
}

.search_section > form > button {
   color: white;
   font-weight: 600;
   border: 0;
   border-radius: 5px;
   cursor: pointer;
   padding: 5px;
   width: 20%;
}

.book_shelf_container {
   padding: 30px 20px;
   margin: 16px 0 0 0;

   background: rgba(255, 255, 255, 0.7);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
}

#resetRak {
   color: white;
   border: 0;
   border-radius: 5px;
   padding: 8px;
   cursor: pointer;
   font-weight: 600;
}

.book_shelf {
   padding: 10px;
}

.book_shelf.book_read {
   border-bottom: 5px double var(--darkblue);
   margin-bottom: 16px;
}

.book_shelf > h2 {
   color: var(--darkblue);
}

.book_shelf > .book_list {
   padding: 16px;
}

.book_shelf > .book_list > .book_item {
   padding: 8px 16px 16px 16px;
   border: 1px solid black;
   border-radius: 5px;
   margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
   margin: 8px 0;
   text-transform: capitalize;
}

.book_shelf > .book_list > .book_item > .action > button {
   border: 0;
   padding: 5px 10px;
   margin: 0 5px 0 0;
   border-radius: 5px;
   cursor: pointer;
   font-weight: 600;
}

.btn-green {
   background-color: rgb(34 197 94);
   color: white;
}

.btn-red {
   background-color: rgb(220 38 38);
   color: white;
}
.btn-orange {
   background-color: rgb(251 191 36);
   color: white;
}

#bookEditCancel {
   margin-bottom: 5px;
   background-color: rgb(220 38 38);
}

footer {
   margin-top: 20px;
   text-align: center;
   padding: 20px;
   background-color: rgb(8, 10, 24);
   color: #fff;
}

.fa-heart {
   color: rgb(220 38 38);
}
footer > .social-media {
   margin-bottom: 20px;
}
footer > .social-media > a {
   color: #fff;
   margin: 0 5px;
}
